extends layout

block content
	.cover
		.cover-text
			h2.main-heading  Choose Go 
			p
				| Paint the pavement with two new React shades:
				| pink and green matcha.
			div
				a.btn.btn-fancy(href='#')  Shop Now 
				| &nbsp;
				a.btn.btn-fancy-reverse(href='#')  Learn more 

	.main.category
		.container
			.row
				.col-sm-3.col-xs-6
					.category1
						.category-cover
							.overlay  
							a.img-container(href='#')
								img.img-responsive(src='/resources/images/cat1.jpg', alt='Dreamcatchers')
							.hidden-category-info
								.hidden-category-info-inner
									.groupinfo-desc.text-center
										p
											a.btn.btn-fancy.btn-sm(href='#')  Get it Now 
										p
											a.shop-now(href='#')  Shop Now 
												i.fas.fa-arrow-right

						p.category-title.h3  Dreamcatchers 
				.col-sm-3.col-xs-6
					.category1
						.category-cover
							.overlay  
							a.img-container(href='#')
								img.img-responsive(src='/resources/images/cat2.jpg', alt='Dreamcatchers')
							.hidden-category-info
								.hidden-category-info-inner
									.groupinfo-desc.text-center
										p
											a.btn.btn-fancy.btn-sm(href='#')  Get it Now 
										p
											a.shop-now(href='#')  Shop Now
												i.fas.fa-arrow-right
 
						p.category-title.h3  Bracelets 
				.col-sm-3.col-xs-6
					.category1
						.category-cover
							.overlay  
							a.img-container(href='#')
								img.img-responsive(src='/resources/images/cat3.png', alt='Dreamcatchers')
							.hidden-category-info
								.hidden-category-info-inner
									.groupinfo-desc.text-center
										p
											a.btn.btn-fancy.btn-sm(href='#')  Get it Now 
										p
											a.shop-now(href='#')  Shop Now 
												i.fas.fa-arrow-right

						p.category-title.h3  Earrings 
				.col-sm-3.col-xs-6
					.category1
						.category-cover
							.overlay  
							a.img-container(href='#')
								img.img-responsive(src='/resources/images/cat1.jpg', alt='Dreamcatchers')
							.hidden-category-info
								.hidden-category-info-inner
									.groupinfo-desc.text-center
										p
											a.btn.btn-fancy.btn-sm(href='#')  Get it Now 
										p
											a.shop-now(href='#')  Shop Now 
												i.fas.fa-arrow-right

						p.category-title.h3  Necklace 

	section.main.product-card-list
		.container
			.row
				.col-sm-12
					h3.sub-heading  Made With Love 
			.row
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product3.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product4.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
	
	section.main.about-maya
		.container
			.row
				.col-sm-12
					.about-flex
						.about-image.img-container
							img.img-responsive(src='/resources/images/cat1.jpg', alt='maya image')
						.maya-explain
							h4  About Maya 
							p
								| Our vision in starting Maya was to offer products that met our goals of being an escape from
								| the era of race against time to the world of love, calm and happiness. Maya, meaning Love in nepali language, aims to spread the warmth of love to all.
	
	section.main.product-card-list
		.container
			.row
				.col-sm-12
					h3.sub-heading  Made with Love  
			.row
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product3.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus
				.col-sm-3.col-xs-6
					.card.product-card
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product4.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
							.slide-cart
								a.btn.btn-brand.btn-round(href='#')
									| Add to cart 
									i.fas.fa-plus

