doctype html
html
	include parts/head 

	block head
		title Maya

	body.pt95
		include parts/header
		.app-content
			block content

		
		include parts/footer

		include parts/nav-drawer
		include parts/cart

		include parts/foot

