.white-text {
	color: #fff;
}

.red-text {
	color: #ff1744!important;
}

.white {
	background: #fff!important;
}

.red {
	background: #ff1744!important;
}


.pink {
	background: #F50057!important;
}

.purple {
	background: #9C27B0!important;
}

.blue {
	background: #2979FF!important;
}

.sky-blue {
	background: #2196F3!important;
}

.green {
	background: rgb(1, 204, 98)!important;
}

.yellow {
	background: #FFEA00!important;
}

.orange {
	background: #FF9100!important;
}



.deep-purple {
	background: #651FFF!important;
}

.indigo {
	background: #3D5AFE!important;
}

.light-blue {
	background: #00B0FF!important;
}

.cyan {
	background: #00E5FF!important;
}

.teal {
	background: #1DE9B6!important;
}

.grey {
	background: rgb(251, 251, 251)!important;
}

.light-green {
	background: #76FF03!important;
}

.lime {
	background: #C6FF00!important;
}

.amber {
	background: #FFC400!important;
}

.deep-orange {
	background: #FF3D00!important;
}


