footer.main-footer
  .container
    .row.pb30
      .col-sm-3
        h5.widget-name  Sign Up To Get Discounts 
        .discount-form
          .form-group
            input.form-control(type='text', placeholder='Enter Email Address Here')
      .col-sm-6
        .row
          .col-sm-4
            h5.widget-name  Get Help 
            ul.list-unstyled
              li
                a(href='#')  Order Status 
              li
                a(href='#')  Shipping and Delivary 
              li
                a(href='#')  Returns 
              li
                a(href='#')  Payment 
              li
                a(href='#')  Contact Us 
          .col-sm-4
            h5.widget-name  About Product 
            ul.list-unstyled
              li
                a(href='#')  Featured 
              li
                a(href='#')  New 
              li
                a(href='#')  Stock 
          .col-sm-4
            h5.widget-name  Costumer Services 
            ul.list-unstyled
              li
                a(href='#')  Cookie & Policies 
              li
                a(href='#')  FAQ's 
              li
                a(href='#')  Discounts 
              li
                a(href='#')  Find Us 
      .col-sm-3
        h5.widget-name  Connect With Us  
        .social-icons.clear
          a.circle
            i.fab.fa-facebook-f
          a.circle
            i.fab.fa-instagram
          a.circle
            i.fab.fa-pinterest-square
    .row
      .col-sm-12
        p.copyright  © 2018 Design, Inc. All Rights Reserved 
