header.nav-down
  .main-header
    .container-fluid
      .row
        .col-sm-3
          p  Give Us a Call: +44 808 178 7366 
        .col-sm-2 	
        .col-sm-4
          p  Cash on delivary.Domestic Delivary Available 
        .col-sm-1
        .col-sm-2
          .help
            ul.list-unstyled
              li
                a(href='#')  Help 
              li
                a(href='#')  Find a Store 
  .navigation-bar
    .container
      .row
        .col-sm-12
          .top-nav.clear
            .logo.pull-left
              a(href='#')
                | CRAFTS
                // <img src="" alt="logo">
            .burger-icon.pull-right
              a.nav(href='javascript:;')
                .ham-icon.ham-one  
                .ham-icon.ham-two  
                .ham-icon.ham-three  
            .search-icon.pull-right
              a.search-here(href='#')
                i.fas.fa-search
            .login-icon.pull-right
              a.login-here(href='#')
                i.far.fa-user
                |  Login
