extends ../layout

block content
	.category-wrapper
		.container
			.row
				.col-sm-2
					form
						.filters.side-nav
							.filter-header.mb20
								h4.title  Filters 
							.filter-body
								.category-divide
									h4.sub-title  Categories 
									ul.list-unstyled
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Category 1 
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Category 2
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Category 3
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Category 4
								.category-divide
									h4.sub-title  Size 
									ul.list-unstyled
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Small 
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Medium 
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  Large 
										li
											a.sidenav-checkbox(href='#')
												input(type='checkbox')
												| &nbsp;
												label  King 
							.filter-control
								a.btn.btn-fancy-reverse.btn-block(href='#')  Apply 
				.col-sm-10
					.grid-content-wrapper
						.grid-content-header.mb40
							h4.title  Category 1 All Items
						.row
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product3.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product4.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product3.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product4.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
							.col-sm-3.col-xs-6
								.card.product-card
									.grid-product
										figure
											a.img-container(href='#')
												img.img-responsive(src='/resources/images/product3.jpg', alt='product image')
										.hidden-info
											.more-details
												a(href='#')
													| Quick Look 
													i.fas.fa-arrow-right
									.card-footer.text-center
										h5.product-name  Stylish HandBag 
										p.product-price  $80.0 
										.slide-cart
											a.btn.btn-brand.btn-round(href='#')
												| Add to cart 
												i.fas.fa-plus
