extends ../layout

block content 
	.main.product-details
		.container
			.row
				.col-sm-5
					.detail-big-image
						img.img-responsive(src='/resources/images/cat3.png', alt='Earring')
				.col-sm-7
					.product-description
						.top-description
							h4.product-title  Big Earring 
							p
								span.pull-right  Be the First To Buy this Product for Extra Discount
								span.red-text  20% Discount 
						.product-body
							span.product-price-lg.red-text  Rs.800.00
							span.product-info
								| A ribbed knit sweater featuring a subtle choker neckline with a V-cutout front, vented long sleeves with high-polish zipper closures, and a billowy silhouette.
								| This is an independent brand and not a Forever 21 branded item.
						.row
							.col-sm-6
								a.btn.btn-brand.btn-block(href='#')
									i.fa.fa-heart(aria-hidden='true')
									|   Add to Wishlist
							.col-sm-6
								a.btn.btn-fancy-reverse.btn-block(href='#')
									i.fa.fa-cart-arrow-down(aria-hidden='true')
									|  Add to Cart
	section.main.about-maya
		.container
			.row
				.col-sm-12
					.about-flex
						.maya-explain
							h4  About Delivary and Charges 
							p
								| Our vision in starting Maya was to offer products that met our goals of being an escape from
								| the era of race against time to the world of love, calm and happiness. Maya, meaning Love in nepali language, aims to spread the warmth of love to all.
	section.main.product-card-list
		.container
			.row
				.col-sm-12
					h3.sub-heading  You may Love 
			.row
				.col-sm-3.col-xs-6
					.card.product-card.may-like
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product2.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
				.col-sm-3.col-xs-6
					.card.product-card.may-like
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product3.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
				.col-sm-3.col-xs-6
					.card.product-card.may-like
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
				.col-sm-3.col-xs-6
					.card.product-card.may-like
						.grid-product
							figure
								a.img-container(href='#')
									img.img-responsive(src='/resources/images/product4.jpg', alt='product image')
							.hidden-info
								.more-details
									a(href='#')
										| Quick Look 
										i.fas.fa-arrow-right
						.card-footer.text-center
							h5.product-name  Stylish HandBag 
							p.product-price  $80.0 
